{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>profe del curso de node</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dicta explicabo aut numquam quia perspiciatis beatae. Doloremque fugit, beatae excepturi non cumque saepe voluptatum! Aut, eius et! Temporibus, explicabo praesentium?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/ang.PNG" alt="" class="img-fluid img-thumbnail" >
    </div>
</div>

{{> footer }}